tr:nth-child(odd) {
   background-color: white;
}
tr:nth-child(even) {
    background-color: LightGrey;
}
th{
    background-color: #000066;
    color: white;
}
table, th, td {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}
th, td{
	padding: 4px;
}
table{
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
	font-family: 'Times New Roman', Times, serif;
}


.thAsc,.thDesc{
	background-color: LightSkyBlue;
	background-repeat: no-repeat;
	background-position: right;
}
.thAsc{
	background-image: url("images/ascend.png");
}
.thDesc{
	background-image: url("images/descend.png");
}